.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    opacity: 0.8;
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon-container {
    background-color: #05437A;
    padding: 10px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}

.logo-name-container {
    font-size: 20px;
    font-weight: bolder;
}

.nav-links-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    padding: 10px;
    margin: 0;
}
